<h2 id="comments-title">Отзывы: (<%= @book.comments.size %>)</h2>
<div class="row" id="list-comments">
  <div class="twelve columns">
    <%= render(@book.comments) %>    
  </div>
</div>
<div class="row" id="form_add_comment">
  <div class="twelve columns">
    <h1>Комментировать:</h1>
    <%= form_for([@book, @book.comments.new], :remote => true ,:html => {:class => "nice custom add_comment"}) do |f| %>
      <div class="type-comment">
        <%= f.label :plusminus, "Тип комментария:" %>
        <select id="comment_plusminus" name="comment[plusminus]">
          <option SELECTED value="1">Положительный</option>
          <option value="2">Отрицательный</option>
          <option value="0">Нейтральный</option>
        </select>
      </div>
      <div class="field">
        <%= f.label :name, "Имя:" %>
        <%= f.text_field :name, :class => "input-text required", :minlength => "2", :maxlength => "50" %>
      </div>
      <div class="field">
        <%= f.label :email, "E-mail:" %>
        <%= f.text_field :email, :class => "input-text required email" %>
      </div>
      <div class="field">
        <%= f.label :body, "Комментарий:" %>
        <%= f.text_area :body, :class => "required" %>
      </div>
      <div class="field">
        <%= f.submit "Добавить комментарий", :class => "nice small radius white button" %>
      </div>
    <% end %>
  </div>
</div>