<div class="row" id="book-show">
  <div class="four columns book-show-cover">
    <%= image_tag @book.cover.url(:medium), :title => @book.title %>
  </div>
  <div class="eight columns book-show-info">
    <h1 class="title"><span><%= @book.title %></span></h1>
    <h2 class="authorname">
      Автор:
      <% if isset_authorid?(@book) %>
        <span><%= link_to @book.authorname, @book.author %></span>  
      <% else %>
        <span><%= @book.authorname %></span>
      <% end %>
    </h2>
    <h2 class="isbn">ISBN: <span><%= @book.isbn %></span></h2>
    <h2 class="year">Год выпуска: <span><%= to_year(@book) %></span></h2>
    <h2 class="category">Жанр: <span><%= link_to(@book.category.title, @book.category) %></span></h2>
  </div>
  <div class="row">
    <div class="twelve columns book-show-description">
      <%= @book.description %>
    </div>
  </div>
  <div class="row" id="sharing-social-network">
    <div class="twelve columns">
      <!-- facebook: -->
      <div class="fb-like" data-send="false" data-layout="button_count" data-width="200" data-show-faces="true"></div>
      <!-- vk: -->
      <div id="vk_like"></div>
      <script type="text/javascript">
      VK.Widgets.Like("vk_like", {type: "mini"});
      </script>
    </div>
  </div>
</div>
<!-- comments -->
<%= render('shared/comments') %>
