<div class="row" id="book-show">
  <div class="four columns book-show-cover">
    <%= image_tag @book.cover.url(:medium), :title => @book.title %>
  </div>
  <div class="eight columns book-show-info">
    <h1 class="title"><span><%= @book.title %></span></h1>
    <h2 class="authorname">
      Автор:
      <% if isset_authorid?(@book) %>
        <span><%= link_to @book.authorname, @book.author %></span>  
      <% else %>
        <span><%= @book.authorname %></span>
      <% end %>
    </h2>
    <h2 class="isbn">ISBN: <span><%= @book.isbn %></span></h2>
    <h2 class="year">Год выпуска: <span><%= to_year(@book) %></span></h2>
    <h2 class="category">Жанр: <span><%= link_to(@book.category.title, @book.category) %></span></h2>
  </div>
  <div class="row">
    <div class="twelve columns book-show-description">
      <%= raw(@book.description) %>
    </div>
  </div>
  <div class="row" id="sharing-social-network">
    <div class="twelve columns">
      <!-- social sharing: -->
      <div class="sharing-text">Поделитесь с друзьями:</div> 
      <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
      <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div>
    </div>
  </div>
</div>
<!-- comments -->
<%= render('shared/comments') %>
<div class="clear">
</div>
<div class="site-fb-comments">
  <h1>Комментарии Facebook:</h1>
  <div class="fb-comments" data-href="2litra.ru" data-num-posts="10" data-width="550"></div>
</div>