<div class="row" id="main-menu">
  <div class="twelve columns">
    <ul>
      <li><%= link_to "Главная", root_path %></li>
      <li><%= link_to "Книги", books_path %></li>
      <li><%= link_to "Авторы", authors_path %></li>
      <li><%= link_to "Новости", articlecategory_path(@myarticlecategories[0]) %></li>
      <li><%= link_to "Архив", archive_path %></li>
      <li><%= link_to "Контакты", contacts_path %></li>
    </ul>
  </div>
</div>