<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render("layouts/head") %>
</head>
<body>
  <div id="genre-head-menu" class="nice">
    <ul>
      <li><%= link_to "Главная", root_path %></li>
      <li><%= link_to "Жанры", categories_path %></li>
      <li><%= link_to "Что почитать?", "" %></li>
      <li><%= link_to "TOP-20 по комментариям", "" %></li>
      <li><%= link_to "TOP-20 по оценкам", "" %></li>
      <li><%= link_to "Новинки", "" %></li>
      <li><%= link_to "Архив", "" %></li>
    </ul>
  </div>
  <div class="container">
    <%= render('layouts/header') %>
    <%= render('layouts/menu') %>
    <div class="row" id="content-block">
      <div class="eight columns" id="main-content">
        <div class="row" id="left-content">
          <div class="twelve columns">
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="four columns" id="sidebar">
        <div class="row sidebar-block">
          <div class="twelve columns">
            <h1 class="sidebar-title">Жанры</h1>
            <%= render('shared/menutree') %>
          </div>
        </div>
        <div class="row sidebar-block">
          <div class="twelve columns">
            <h1 class="sidebar-title">Авторы</h1>
          </div>
        </div>
      </div>
    </div>
    <%= render('layouts/footer') %>
  </div>
</body>
</html>