<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render("layouts/head") %>
</head>
<body>
  <!-- facebook comments -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!-- facebook comments  -->
  <%= render('shared/head_menu') %>
  <div class="container">
    <%= render('layouts/header') %>
    <%= render('layouts/menu') %>
    <div class="row" id="content-block">
      <div class="eight columns" id="main-content">
        <div class="row" id="left-content">
          <div class="twelve columns">
            <% if alert %>
              <div class="alert-box">
                <%= alert %>
                <a href="#" class="close" title="Закрыть">&times;</a>
              </div>
            <% elsif notice %>
              <div class="alert-box">
                <%= notice %>
                <a href="#" class="close" title="Закрыть">&times;</a>
              </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="four columns" id="sidebar">
        <div class="row sidebar-block">
          <div class="twelve columns">
            <h1 class="sidebar-title">Жанры</h1>
            <%= render('shared/menutree') %>
          </div>
        </div>
        <div class="row sidebar-block">
          <div class="twelve columns">
            <h1 class="sidebar-title">Случайные авторы</h1>
            <div class="authors-block-index">
              <% @rand_authors.each do |author| %>
                <div class="author-photo-index">
                  <%= link_to(image_tag(author.photo.url(:thumb), :title => author.name), author) %>
                </div>
              <% end %>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="row sidebar-block" id="link-current-year-books">
          <div class="twelve columns">
            <%= link_to "Книги за текущий год", "/archive/#{site[:current_year]}" %>
          </div>
        </div>
        <div class="row sidebar-block" id="fb-like-page">
          <div class="twelve columns">
<div class="fb-like" data-href="2litra.ru" data-send="false" data-width="290" data-show-faces="true"></div>
          </div>
        </div>
      </div>
    </div>
    <%= render('layouts/footer') %>
  </div>
</body>
</html>