<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render("layouts/head") %>
</head>
<body>
  <div class="container">
    <%= render('layouts/header') %>
    <%= render('layouts/menu') %>
    <div class="row" id="content-block">
      <div class="eight columns" id="main-content">
        <div class="row" id="left-content">
          <div class="twelve columns">
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="four columns" id="sidebar">
        <div class="row sidebar-block">
          <div class="twelve columns">
            <h1 class="sidebar-title">Жанры</h1>
            <%= render('shared/menutree') %>
          </div>
        </div>
        <div class="row sidebar-block">
          <div class="twelve columns">
            <h1 class="sidebar-title">Авторы</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>